.DS_Store
npm-debug.log
node_modules/
*.testlog
# files that we generate at install time
lib/browser/callbacks/runtime.js
lib/browser/generators/runtime.js
lib/browser/transform*.js
test/browser/eval-test.js
test/browser/flows-test.js
test/browser/stack-test.js
/coverage/
